body {
  background-image: url("http://www.talonx.com/file/2013/09/polyagonal-web-design.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#board {
  margin-top: 0;
}
.box {
  border: 1px solid black;
  height: 150px;
}
#myButton {
  margin: 10px 0 0 600px;
  background-color: gray;
  }

.player1 {
  background-image: url("https://cdn0.iconfinder.com/data/icons/octicons/1024/x-48.png");
  background-repeat: no-repeat;
  background-position: center;
}
.player2 {
  background-image: url("https://cdn1.iconfinder.com/data/icons/material-core/20/check-circle-outline-blank-48.png");
  background-repeat: no-repeat;
  background-position: center;
}
h1 {
  font-family: 'Jura', sans-serif;
  font-size: 50px;
  font-weight: 700;
  margin: auto;
}
hr {
    border: none;
    height: 1px;
    color: black;
    background-color: black;
}

#info {
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin: 0 auto;
}
/*.btn btn-primary btn-md {
  position: absolute;
  margin: auto;
  background: white;
  width: 66%;
}*/
